.progressbar {
  display: grid;
  place-items: center;
  --size: min(25rem, 90vw);
  --bar-width: 4rem;
  width: var(--size);
  aspect-ratio: 1 / 1;
  background-image: conic-gradient(#e9c46a var(--progress, 0%), #438883 0%);
  border-radius: 50%;
  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    background-color: #fff;
    border-radius: inherit;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1 / 1;
    position: absolute;
    display: grid;
    z-index: -1;
  }
}
