.progressbar {
  display: grid;
  place-items: center;
  --size: min(25rem, 90vw);
  --bar-width: 4rem;
  width: var(--size);
  aspect-ratio: 1 / 1;
  background-image: conic-gradient(#e9c46a var(--progress, 0%), #438883 0%);
  border-radius: 50%;
  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    background-color: #fff;
    border-radius: inherit;
    width: calc(100% - var(--bar-width));
    aspect-ratio: 1 / 1;
    position: absolute;
    display: grid;
    z-index: -1;
  }
}

.disabled-budget {
  position: relative;
  overflow: hidden;
  isolation: isolate; 
  z-index: 3;

  &:before{
    content: 'Limit Reached!';
    position: absolute;
    padding: 0.8rem 1rem;
    white-space: nowrap;
    line-height: 1.2;
    // background-color: #438883;
    background-color: #ab3434;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      -45deg,
      #8e8e8e69,
      #8e8e8e69 5px,
      #e5e5f71e 5px,
      #e5e5f71e 25px
    );

    z-index: -1;
  }
}
