// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "tailwindcss";

:root {
  font-size: 62.5% !important;
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  font-size: 1.6rem !important;
}
/* You can add global styles to this file, and also import other style files */

p,
h2,
span {
  line-height: 1.2;
}

.mat-calendar {
  --mat-sys-title-small-size: 1.4rem !important;
  --mat-sys-body-medium-size: 1.2rem !important;
  --mat-sys-label-large-size: 1.5rem !important;
  --mat-sys-primary: #005cbb !important;
  --mat-sys-on-primary: #fff !important;
}

.mat-datepicker-content {
  background-color: #fff !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(90%, 40rem) 1fr;
  column-gap: 1.2rem;
  > * {
    grid-column: 2;
  }
}

.bottom-nav {
  .link-btn {
    &.active {
      lucide-icon {
        svg {
          stroke: #438883 !important;
          stroke-width: 2.5px;
        }
      }
      span {
        color: #438883 !important;
        font-weight: 500;
      }
    }
  }
}

div:has(.transaction-dialog) {
  justify-content: center !important;
}

.transaction-dialog {
  max-width: unset !important;
  .mat-mdc-dialog-container {
    .mat-mdc-dialog-inner-container {
      .mat-mdc-dialog-surface {
        border-radius: 0 !important;
      }
    }
  }
}

.alert-dialog {
  width: min(90%, 40rem) !important;
  max-width: unset !important;
  justify-content: center;
  .mat-bottom-sheet-container {
    width: 100% !important;
    min-width: unset !important;
    max-width: unset !important;
    padding: 0 !important;
    background: unset !important;
    box-shadow: none !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @apply text-neutral-600;
    @apply font-medium;
  }
  .form-control {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 1px solid;
    @apply border-neutral-400;
    @apply rounded-xl;
    height: 4.1rem;
  }
  .form-actions {
    display: flex;
    justify-content: center;
    .btn {
      background-color: #438883;
      color: #fff;
      padding: 1.5rem 2rem;
      @apply rounded-md;
      min-width: 9rem;
      font-size: 1.7rem;
      cursor: pointer;
    }
  }
}

input[type="number"] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }
}

.mat-mdc-menu-item-text {
  font-size: 1.5rem !important;
}

.err-text {
  color: #ba1111;
}

.success-text {
  color: #228b22;
}

@media (hover: hover) {
  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
    > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
      .mat-calendar-body-comparison-identical
    ) {
    background-color: #e3e2e6 !important;
  }
}

.mat-calendar-body-cell.mat-calendar-body-active {
  .mat-calendar-body-cell-content {
    background-color: #e3e2e6 !important;
  }
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  .mat-mdc-snack-bar-container .mdc-snackbar__label,
  .mat-mdc-button {
    font-size: 1.6rem !important;
    color: rgb(15, 83, 199) !important;
  }
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-size: 1.6rem !important;
}
