<div class="main-container h-screen">
  <div class="h-[calc(100vh-7rem)] bg-neutral-200 overflow-y-auto pb-[2rem]">
    <router-outlet class="contents" />
  </div>
  <nav class="w-full bg-white shadow-md wrapper">
    <div class="inner  grid grid-cols-[1fr_8rem_1fr]">
      <div class="fab-left h-[8rem] flex items-center justify-between pr-[2rem]">
        <button type="button" class="w-[2.5rem] h-[2.5rem] flex items-center justify-center">
          <lucide-icon [img]="homeIcon" class="w-full h-full"></lucide-icon>
        </button>
        <button type="button" class="w-[2.5rem] h-[2.5rem] flex items-center justify-center">
          <lucide-icon [img]="moneyIcon" class="w-full h-full"></lucide-icon>
        </button>
      </div>
      <div class="fab-center relative">
        <button type="button"
          class="w-[8rem] h-[8rem] rounded-full bg-amber-600 border-8 border-yellow-400 absolute left-[50%] translate-x-[-50%]  nav-button flex items-center justify-center bottom-[calc(100%-calc(8rem/2))]">
          <svg class="w-1/2 h-1/2 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640">
            <path
              d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z" />
          </svg>
        </button>
      </div>
      <div class="fab-right h-[8rem] flex items-center justify-between pl-[2rem]">
        <button type="button" class="w-[2.5rem] h-[2.5rem] flex items-center justify-center">
          <lucide-icon [img]="notesIcon" class="w-full h-full"></lucide-icon>
        </button>
        <button type="button" class="w-[2.5rem] h-[2.5rem] flex items-center justify-center">
          <lucide-icon [img]="userIcon" class="w-full h-full"></lucide-icon>
        </button>
      </div>
    </div>
  </nav>
</div>
